<span style="background-color: rgba(84,84,84,0.92); margin-right: 17rem;" x-show="uploadHovered && bellClicked == false" class="float-right text-white -mt-2 text-center rounded-lg font-semibold w-32 h-10 border border-grey-100 px-4 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="-mt-4 ml-6" width="36" height="8" viewBox="0 0 36 8" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8h6.686a8 8 0 0 0 5.657-2.343l4.95-4.95a1 1 0 0 1 1.414 0l4.95 4.95A8 8 0 0 0 29.314 8H36 0z" fill="#545454" fill-opacity=".92"/>
    </svg>
    <span>Upload video</span>
</span>
<span style="background-color: rgba(84,84,84,0.92); margin-right: 15rem;" x-show="notifHovered && bellClicked == false" class="float-right text-white -mt-2 text-center rounded-lg font-semibold w-32 h-10 border border-grey-100 px-4 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="-mt-4 ml-7" width="36" height="8" viewBox="0 0 36 8" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8h6.686a8 8 0 0 0 5.657-2.343l4.95-4.95a1 1 0 0 1 1.414 0l4.95 4.95A8 8 0 0 0 29.314 8H36 0z" fill="#545454" fill-opacity=".92"/>
    </svg>
    <span>Notifications</span>
</span>
<span style="background-color: rgba(84,84,84,0.92); margin-right: 15rem;" x-show="inboxHovered && bellClicked == false" class="float-right text-white -mt-2 text-center rounded-lg font-semibold w-16 h-10 border border-grey-100 px-4 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="-mt-4 -ml-1" width="36" height="8" viewBox="0 0 36 8" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8h6.686a8 8 0 0 0 5.657-2.343l4.95-4.95a1 1 0 0 1 1.414 0l4.95 4.95A8 8 0 0 0 29.314 8H36 0z" fill="#545454" fill-opacity=".92"/>
    </svg>
    <span class="-ml-1">Inbox</span>
</span>
<div x-show="userOpen && bellClicked == false" style="margin-right: 11.45rem; margin-top: -1.15rem; font-weight: 500;" @mouseover.away="userOpen = false" class="float-right text-center bg-white shadow-lg drop-shadow-lg rounded-lg w-48 h-40 border border-grey-100 px-4 py-2">
<div class="flex flex-wrap flex-col content-start cursor-pointer">
        <div class="space-y-2 rounded-md w-min-full">
            <a href="/@{{request.user.username}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="opacity-90 inline h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
                <h6 class="inline text-lg opacity-90">View profile</h6>
            </a>
        </div>
    <br>
        <div class="-mt-2 rounded-md space-y-2 -ml-6">
            <a href="/settings">
                <svg xmlns="http://www.w3.org/2000/svg" class="opacity-90 inline h-5 w-5 -mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <h6 class="inline text-lg opacity-90">Settings</h6>
            </a>
        </div>
    <hr class="mt-4"><br>
        <div class="-mt-2 rounded-md space-y-2 -ml-6">
            <a href="/logout">
                <svg xmlns="http://www.w3.org/2000/svg" class="opacity-90 inline h-5 w-5 -mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                <h6 class="inline text-lg opacity-90">Log out</h6>
            </a>
        </div>
    </div>
</div>