{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>VibeTube - Find Your Vibe</title>
		<link rel="icon" href="{% static 'images/vibe-icon.ico' %}">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
	</head>

	<body class="bg-grey-lightest font-serif leading-normal tracking-normal border-box">
		<header>
			<div class="min-w-full container flex border-b-2 justify-center text-center mt-2">
			<div class="mr-40">
				<img class="inline" src="{% static 'images/vibe-icon.ico' %}"/><img class="inline" src="{% static 'images/vibe-text.png' %}"/>
			</div>
			<div id="search-box" class="mr-40">
				<input type="search" class="mb-2 bg-white shadow rounded-full border-0 h-8 p-2 w-64" placeholder="Search VibeTube..."/>
				<span class="absolute pin-r pin-t mt-1 text-purple-lighter">
					<svg id="search-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 border-l" fill="none" viewBox="0 0 24 24" stroke="gray">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
					</svg>
				</span>
			</div>
			<div>
				<a href="/upload" class="hover:underline" id="upload">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
				</svg></a>
				<button id="login" class="mb-2 ml-2 inline text-white">Log in</button>
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="gray" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
					</svg>
				</span>
			</div>
			</div>
		</header>
	</body>
</html>
