<!-- <head> -->
    {% load static %}
    {% include 'base.html' %}

    {% include 'components/main/side-panel.html' %}


    <div>

        <!-- <style></style> -->
        <h1>Vibe Profile {{vibe_user.username}}</h1>
        <img class="rounded-full h-24 w-24 flex items-center justify-center..." src="/media/@TikTokGirl1/profile-photos/587757914.jpeg">
        <!-- </head> -->
        <!-- <body> -->
            <h3>{{vibe_user.first_name}} {{vibe_user.last_name}}</h3>
            
            <p1>{{vibe_followers}} Followers {{vibe_following}} Following {{vibe_likes}} Likes</p1>
            
            
            <p1>{{vibe_user.bio}}</p1>
    </div>
    
    {% for item in videos %}
    {% endfor %}

<!-- </body> -->