<head>
    <title>VibeTube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <!-- This file lives in public/404.html -->
    <div class="container mx-auto px-4">
        <section class="py-8 px-4 text-center">
            <div class="max-w-auto mx-auto">
                    <h1 style="font-size: 300px; line-height: 240px; white-space: nowrap;" class="font-semibold inline ">4</h1><img class="inline" style="margin-top: -17.5%; width: 240px;" src="https://th.bing.com/th/id/R5b73240073f6e7662d8098ee8df69ee4?rik=jVWx0cgYIDyQIg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2f4T9%2fLbG%2f4T9LbGXbc.png&ehk=APKBa5nS30sEDqwSC04eZTr4laDc0SXXtBAD8n1Mjp8%3d&risl=&pid=ImgRaw"><h1 style="font-size: 300px; line-height: 240px; white-space: nowrap;" class="font-semibold inline">4</h1>
                <h2 class="mt-8 uppercase text-xl lg:text-5xl font-black">Oh jinkies! You're not supposed to be here. Now that you are.. why don't you stay a while?</h2>
                <p class="mt-6 uppercase text-sm lg:text-base text-gray-900">We have some fantastic music selections for you.</p>
                <object style="margin-left: 37.5%;" data='https://www.youtube.com/embed/qWVc-xVZxho?autoplay=1' >
                </object>
                <a href="/" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-light py-4 px-6 rounded-full inline-block uppercase shadow-md">Back to VibeTube</a>
            </div>
        </section>
    </div>
</body>