{% load static %}
<footer style="background-color: #000000;" class="min-w-full h-64 absolute bottom-0" id="upload-footer">
    <div id="v-flex" class="flex">
        <div id="images" class="ml-36 mt-6">
            <img class="inline" src="{% static 'images/vibe-icon.ico' %}"/><img class="inline" src="{% static 'images/vibe-text.png' %}"/>
        </div>
        <div id="v-info" class="ml-12 mt-8">
            <p class="font-bold text-white">Company</p>
            <span class="text-white">
                About<br>
                Newsroom<br>
                Store<br>
                Contact<br>
                Careers<br>
                Creator Directory
            </span>
        </div>
        <div id="v-support" class="ml-48 mt-8">
            <p class="font-bold text-white">Programs</p>
            <span class="text-white">
                VibeTube for Good<br>
                Advertise<br>
                Developers<br>
                Support
            </span>
        </div>
        <div id="v-program" class="ml-48 mt-8">
            <p class="font-bold text-white">Support</p>
            <span class="text-white">
                Help Center<br>
                Safety Center<br>
                Creator Portal<br>
                Community Guidelines<br>
                Transparency<br>
                Legal
            </span>
        </div>
        <div id="v-legal" class="ml-48 mt-8">
            <p class="font-bold text-white">Legal</p>
            <span class="text-white">
                VibeTube Platform Cookies Policy<br>
                Privacy Policy nger Users<br>
                Intellectual Property Policy<br>
                Law Enforcement<br>
                Privacy Policy<br>
                Terms of Service
            </span>
        </div>
    </div>
</footer>